#error{
    padding-bottom: 150px;
}
#error .error_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#error .error_wrapper .error_content{}
#error .error_wrapper .error_content span{
    color: var(--titles-color, #000);
    font-family: var(--Grotesque);
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}
#error .error_wrapper .error_content h2{
    color: var(--titles-color, #000);
    font-family: var(--Grotesque);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    padding-bottom: 12px;
}
#error .error_wrapper .error_content p{
    color: var(--text-color, #888);
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding: 30px 0 20px;
    width: 450px;
}
#error .error_wrapper .error_content .search{
    position: relative;
}
#error .error_wrapper .error_content .search input{
    padding: 0 30px;
    color: #B3B1B7;
    width: 457px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #E6EBFC;
    outline: 0;
    background: #FFF;
}
#error .error_wrapper .error_content .search input::placeholder{
    color: #B3B1B7;
    font-family: var(--roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
#error .error_wrapper .error_content .search i{
    color: #B3B1B7;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#error .error_wrapper .error_image{
    width: 548px;
    height: 600px;
    overflow: hidden;
}
#error .error_wrapper .error_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}