#banner .banner_wrapper .banner_content h2{
    position: absolute;
    left: 0;
    color: #CCC;
    font-family: Codystar;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: .2;
}
#banner .banner_wrapper .breadcrumbs{    
    margin-top: 30px;
    display: flex;
    column-gap: 26px;
    align-items: center;
}
#banner .banner_wrapper .breadcrumbs a,
#banner .banner_wrapper .breadcrumbs span{  
    position: relative;  
    color: #B3B1B7;
    font-family: var(--Roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
}
#banner .banner_wrapper .breadcrumbs a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 2px;
    right: -12px;
    top: 50%;
    background: #B3B1B7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


/* ==============post section============== */
#post{
    padding: 90px 0 160px;
}
#post .post_body_wrapper{
    display: flex;
    justify-content: space-between;
}
#post .post_body_wrapper .post_wrapper{
    width: 828px;
}
#post .post_body_wrapper .post_wrapper .post_image{
   width: 100%;
   height: 400px;
   background: #CCC;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}
#post .post_body_wrapper .post_wrapper .info{
   padding: 30px 0;
   margin-bottom: 40px;
   border-bottom: 1px dashed #CCC;
}
#post .post_body_wrapper .post_wrapper .post_content h2{
    color: #000;
    padding-bottom: 25px;
    font-family: var(--Grotesque);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
}
#post .post_body_wrapper .post_wrapper .post_content .common_p{
    padding-bottom: 20px;
}
#post .post_body_wrapper .post_wrapper .post_content .quote{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(47, 21, 135, 0.06);
    position: relative;
   padding: 50px 70px 50px 50px ;
}
#post .post_body_wrapper .post_wrapper .post_content .quote p{
    color: var(--text-color, #888);
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 22px;
}
#post .post_body_wrapper .post_wrapper .post_content .quote span{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
#post .post_body_wrapper .post_wrapper .post_content .quote img{
    position: absolute;
    right: 40px;
    bottom: 50px;
}
#post .post_body_wrapper .post_wrapper{
   
}
#post .post_body_wrapper .sidebar{}