#banner .banner_wrapper .banner_content h2{
    position: absolute;
    left: -290px;
    bottom: -100px;
    color: #CCC;
    font-family: Codystar;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: .2;
}
#banner .banner_wrapper .breadcrumbs{    
    margin-top: 30px;
    display: flex;
    column-gap: 26px;
    align-items: center;
}
#banner .banner_wrapper .breadcrumbs a,
#banner .banner_wrapper .breadcrumbs span{  
    position: relative;  
    color: #B3B1B7;
    font-family: var(--Roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
}
#banner .banner_wrapper .breadcrumbs a::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 2px;
    right: -12px;
    top: 50%;
    background: #B3B1B7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


/* ==============post section============== */
#post{
    padding: 90px 0 160px;
}
#post .post_body_wrapper{
    display: flex;
    justify-content: space-between;
}
#post .post_body_wrapper .post_wrapper{
    max-width: 828px;
}
#post .post_body_wrapper .post_wrapper .post_image{
   width: 100%;
   height: 400px;
   background: #E6EBFC;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
}
#post .post_body_wrapper .post_wrapper .info{
   padding: 30px 0;
   margin-bottom: 40px;
   border-bottom: 1px dashed #5437B2;
}
#post .post_body_wrapper .post_wrapper .post_content h2{
    color: #000;
    padding-bottom: 25px;
    font-family: var(--Grotesque);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
}
#post .post_body_wrapper .post_wrapper .post_content .common_p{
    padding-bottom: 20px;
}
#post .post_body_wrapper .post_wrapper .post_content .quote{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(47, 21, 135, 0.06);
    position: relative;
    padding: 50px 70px 50px 50px ;
    margin-bottom: 40px;
}
#post .post_body_wrapper .post_wrapper .post_content .quote p{
    color: var(--text-color, #888);
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 22px;
}
#post .post_body_wrapper .post_wrapper .post_content .quote span{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}
#post .post_body_wrapper .post_wrapper .post_content .quote img{
    position: absolute;
    right: 40px;
    bottom: 50px;
}
#post .post_body_wrapper .post_wrapper .post_content h4{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 30px;
}
#post .post_body_wrapper .post_wrapper .post_content menu{
   padding: 20px 0 40px;
}
#post .post_body_wrapper .post_wrapper .post_content menu li{
   margin: 0 0 20px 20px;
}
#post .post_body_wrapper .post_wrapper .post_content .tags{
   display: flex;
   align-items: center;
   column-gap: 26px;
   padding: 20px 0;
   border-bottom: 1px dashed #5437B2;

}
#post .post_body_wrapper .post_wrapper .post_content .tags p{
    color: #000;
    font-family: var(--Roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
}
#post .post_body_wrapper .post_wrapper .post_content .tags span{
    color: var(--text-color, #888);
    font-family: var(--Roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
    position: relative;
}
#post .post_body_wrapper .post_wrapper .post_content .tags span:last-child::after{
    display: none;
}
#post .post_body_wrapper .post_wrapper .post_content .author{
    margin: 40px 0 90px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(47, 21, 135, 0.06);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 35px;
}
#post .post_body_wrapper .post_wrapper .post_content .author .feature_shap{
    position: relative;
}
#post .post_body_wrapper .post_wrapper .post_content .author .feature_shap>img{
    width: 184px;
    height: 204px;
}
#post .post_body_wrapper .post_wrapper .post_content .author .feature_shap .feature_img{
   height: 110px;
   width: 110px;
   background: #CEA6DC;
   position: absolute;
    top: 47px;
    left: 38px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
#post .post_body_wrapper .post_wrapper .post_content .author .author_information h4{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 15px;
}
#post .post_body_wrapper .post_wrapper .post_content .author .author_information .author_social{
    display: flex;
    align-items: center;
    column-gap: 28px;
}
#post .post_body_wrapper .post_wrapper .post_content .author .author_information a{
    position: relative;
    color: var(--text-color, #888);
    font-family: var(--Roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
#post .post_body_wrapper .post_wrapper .post_content h3{
    color: #000;
    margin-bottom: 40px;
    font-family: var(--Grotesque);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    text-transform: capitalize;
}
#post .post_body_wrapper .post_wrapper .post_content .comment_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
#post .post_body_wrapper .post_wrapper .post_content .comment .reply_link {
    color: #ff6231;
    cursor: pointer;
}
#post .post_body_wrapper .post_wrapper .post_content .comment .reply_link span{
    color: var(--main-color, #FF6231);
    font-family: var(--Roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
#post .post_body_wrapper .post_wrapper .post_content .comment .comment_content {
    padding: 20px 0 40px;
    border-bottom: 1px dashed #CEA6DC;
}
#post .post_body_wrapper .post_wrapper .post_content .comment.reply_content{
    margin-left: 50px;
}
#post .post_body_wrapper .post_wrapper .post_content form .input_group{
    display: flex;
    column-gap: 20px;
}
#post .post_body_wrapper .post_wrapper .post_content form input{
    width: 50%;
    padding: 0 30px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #E6EBFC;
    outline: 0;
    margin-bottom: 20px;
    background: #FFF;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#post .post_body_wrapper .post_wrapper .post_content form textarea{
    width: 100%;
    padding: 20px 30px;
    outline: 0;
    margin-bottom: 20px;
    height: 150px;
    border: 1px solid #E6EBFC;
    background: #FFF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* ==============sidebar section============ */

#post .post_body_wrapper .sidebar,
#blog_page .sidebar{
    width: 262px;
}
#post .post_body_wrapper .sidebar .search_option,
#blog_page .sidebar .search_option{
    position: relative;
    margin-bottom: 50px;
}
#post .post_body_wrapper .sidebar .search_option input,
#blog_page .sidebar .search_option input{
    width: 262px;
    padding: 0 15px;
    height: 60px;
    outline: 0;
    border-radius: 50px;
    border: 1px solid #E6EBFC;
    background: #FFF;
}
#post .post_body_wrapper .sidebar .search_option i,
#blog_page .sidebar .search_option i{
    position: absolute;
    overflow: hidden;
    background: #fff;
    font-size: 24px;
    right: 18px;
    top: 18px;
}
.sidebar .blog_recent_post h4,
.sidebar .blog_recent_comment h4,
.sidebar .calender h4,
.sidebar .blog_post_tag_wrapper h4{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding-bottom: 10px;
    border-bottom: 1px dashed #888;
    margin-bottom: 25px;
}
.sidebar .blog_recent_post span{
    color: var(--main-color, #FF6231);
    font-family: var(--Roboto);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; 
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.sidebar .blog_recent_post h6{
    color: #000;
    font-family: var(--Grotesque);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    padding: 5px 0 12px;
}
.sidebar .blog_recent_post p{
    padding-bottom: 25px;
}
.sidebar .blog_recent_comment .recent_comment_item_wrapper .recent_comment_item{
    margin-bottom: 25px;
}
.sidebar .blog_recent_comment .recent_comment_item_wrapper .recent_comment_item span{
    color: #ff6231;
}
.sidebar .gallery_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap:2px;
    padding: 25px 0 50px;
}
.sidebar .gallery_wrapper .gallery_item{
    width: 86px;
    height: 86px;
    background: #E6EBFC;
}
.sidebar .blog_post_tag_list{
    display: flex; 
    column-gap: 28px;
}
.sidebar .blog_post_tag_list a{
    color: var(--text-color, #888);
    font-family: var(--Roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
    position: relative;
}
.sidebar .blog_post_tag_list a::after{
    position: absolute;
}
.sidebar .blog_post_tag_list a:last-child::after{
    display: none;
}